.page-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px; 
}

.small-card {
    max-width: 600px; 
    max-height:600px;
}

.container {
    text-align: center;
    padding: 15px;
}

.object-horizontal-container, .fields-horizontal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
    gap: 10px; 
}

.picklist-container {
    width: 200px;
}

.custom-button {
    cursor: pointer;
}


